.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  z-index: 1;
  background-color: #161616;
  transition: transform 0.2s ease-in-out;
  border-radius: 20px;
  cursor: pointer;
}

.product:hover {
  transform: scale(1.05);
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #7b78ff;
  border: 1px solid;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.1s ease-in;
}

.product > button:hover {
  transform: scale(0.95);
}
