.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__info > button {
  background-color: #7b78ff;
  border: 1px solid;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}
